MCP_DEMO_AGG_HOST=http://127.0.0.1:18080/search
MCP_DEMO_AGG_HOST_HEADER=dx-cbm-ocp-agg-search-inner.xf-yun.com
MCP_DEMO_AGG_PIPELINE=pl_map_agg_search
MCP_DEMO_AGG_TIMEOUT_MS=15000
MCP_DEMO_AGG_TOP_K=10

MCP_DEMO_MAX_QUERIES=8
MCP_DEMO_LIVE_DOCS_QUOTA=3

MCP_DEMO_LLM_BASE_URL=https://maas-api.cn-huabei-1.xf-yun.com/v1
MCP_DEMO_LLM_API_KEY=sk-your-key
MCP_DEMO_LLM_MODEL=xopdeepseekv32
MCP_DEMO_LLM_TIMEOUT_S=90
MCP_DEMO_REQUIRE_HTTPS=1
MCP_DEMO_FORCE_FUNCTION_CALL=1

MCP_DEMO_RENDER_TIMEOUT_S=45
MCP_DEMO_RENDER_VIRTUAL_TIME_BUDGET_MS=12000
