CHART_PLUGIN_SEARCH_BACKEND=ifly_public
CHART_PLUGIN_IFLY_APP_ID=
CHART_PLUGIN_IFLY_API_KEY=
CHART_PLUGIN_IFLY_API_SECRET=
CHART_PLUGIN_IFLY_ENDPOINT=https://cbm-search-api.cn-huabei-1.xf-yun.com/biz/search
CHART_PLUGIN_IFLY_PIPELINE_NAME=pl_map_agg_search
CHART_PLUGIN_IFLY_USER_ID=user001

CHART_PLUGIN_LLM_BASE_URL=https://maas-api.cn-huabei-1.xf-yun.com/v1
CHART_PLUGIN_LLM_API_KEY=
CHART_PLUGIN_LLM_MODEL=xopdeepseekv32
CHART_PLUGIN_LLM_TIMEOUT_S=90
CHART_PLUGIN_REQUIRE_HTTPS=1
CHART_PLUGIN_FORCE_FUNCTION_CALL=1

CHART_PLUGIN_MAX_QUERIES=8
CHART_PLUGIN_LIVE_DOCS_QUOTA=3
CHART_PLUGIN_RENDER_TIMEOUT_S=45
CHART_PLUGIN_RENDER_VIRTUAL_TIME_BUDGET_MS=12000
